* {
    box-sizing: border-box;
    margin: 0;
  }
  
body {
    height: 100vh;
    font-family: "Roboto", sans-serif;
    letter-spacing: -0.02em;
    /* background-color: #eee; */
  }
  
a {
    font-size: 18px;
    line-height: 20px;
    color: #8492a6;
    text-decoration: none;
  }
  
ul {
    max-width: 540px;
    list-style-type: none;
    padding-left: 0;
    border-bottom: 1px solid #E5EAEF;
    /* border: 1px solid black; */
}

.tab-menu {
    display: flex;
    /* flex-direction: row;     이 세 속성은 기본값이므로 따로 명시하지 않아도 됨
    flex-wrap: nowrap;
    justify-content: flex-start; */
    align-items: center;
}

.tab-menu-item {
    /* border: 1px solid red; */
    margin-right: 16px;
}

.tab-menu-item a {
    display: inline-block;
    padding: 16px 20px;
}

.tab-menu-item:last-child {
    margin-right: 0;
}

.tab-menu-item.selected {

}

.tab-menu-item.selected a {
    color: #2860E1;
    font-weight: 500;
    border-bottom: 2px solid #2860E1;
}